<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwm.nettycommon.mapper.UserMsgBoxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wwm.nettycommon.entity.UserMsgBox">
        <id column="owner_uid" property="ownerUid" />
        <result column="other_uid" property="otherUid" />
        <result column="mid" property="mid" />
        <result column="box_type" property="boxType" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        owner_uid, other_uid, mid, box_type, create_time
    </sql>

</mapper>
